extends layout.pug
block content
	- bafering = 'bawa2 ferasaan teuing';
	- buffer = 'bawa ferasaan';
	-
		// var
		// 	problematika_hidup = [
		// 		"sulitnya nagih utang",
		// 	];
	p.
		#{title} #[br]
		#{desc} #[br]
	h4.
		roti dan selai #[br]
		bunga dan kumbang #[br]
		romeo dan juliet #[br]
	h4.
		beberapa hal dalam hidup, 
		memang ditakdirkan selalu bersama
	h4.
		layaknya aku dan kamu
	h4.
		asek
	//- pesan moral
	p.
		kalo gaul sama kita, jangan mudah buffering alias #{bafering} #[br] 
	//- bawa2 ferasaan teuing
	p.
		bawa santai aja #[br]
		tapi kalo udah telanjur #{buffer}, yah itu mah risiko #[br]
	- var n = 0
	while n < 10
		- ++n;
		span.
			wakakak..
	p problem lu
	ul
		each problem_lu in daftar_problem_lu
			li= problem_lu
	p problem gua
	ul
		each problem_gua in daftar_problem_gua
			li= problem_gua
