-l1='libur';
-l2='leha2';
//- h1 #{y} 
//- 	small kamu dimana #[br]
//- 	small dengan siapa #[br]
//- 	small semalam berbuat apa #[br]
//- console.log('posesif sekalee..');
-g1='ngagoler';
-g2='gogoleran';
p.
	pusing? #[br]
	jangan lupa #{g1} #[br]
	karena hari ini waktunya #{g2} all day long #[br]
	selamat ber#{l1} dan ber#{l2}.. #[br]
.ui.five.item.menu
	a.item(href='/') Home
	a.item(href='/about') About Us
	a.item(href='/contact') Contact Us
	a.item(href='/products') Products
	a.item(href='/roti') Misc

